*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #5F799A;
    padding: 0 10px;
}

img{
    width: 500px;
    height: auto;
    margin: auto;
    position: relative;
    left: 9%;

}

.container img{
    border-radius: 20px;
    position: relative;
    width: 900px;
    top: 20px;
}

.logo img {
    position: relative;
    width: 500px;
    top: -100px;
    left: 55px;
}

.wrapper{
    max-width: 500px;
    width: 80%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 60%;
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #2E294E;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
    width: 100%;
}

.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input_field label{
    width: 200px;
    color: #2E294E;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid #2E294E;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 20px;
    transition: all 0.3 ease;
}

.wrapper .form .input_field .input:focus{
    border: 2.5px solid #5F799A;
}

.wrapper .form .input_field p{
    font-size: 14px;
    color: #5F799A;
}
.wrapper .form .input_field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .input_field .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .input_field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #2E294E;
    display: block;
    position: relative;
    background: #fff;
}
.wrapper .form .input_field .check .checkmark::before{
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark {
    background: #2E294E;
}
.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark:before {
    display: block;
}

.wrapper .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-style: 15px;
    border: 0;
    background: #2E294E;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}

.wrapper .form .input_field:last-child{
    margin-bottom: 0;
}

.wrapper .form .input_field .btn:hover{
    background: #5e66da;
}

@media (max-width: 420px){
    .wrapper .form .input_field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input_field label{
        margin-bottom: 5px;
    }
    .wrapper .form .input_field.terms{
        flex-direction: row;
    }
}



