*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header{
    width: 100%;
    height: 400px;
    background-image: url(img/mujer_comprando_desde_pc_con_tarjeta.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #2e294e;
    text-align: center;
}
header .textos{
    margin-top: 152px;

}
header .titulo{
    font-size: 60px;

}
header .subtitulo{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 32px;
}

.boton{
    display: inline-block;
    padding: 6px;
    width: 90px;
    border: 1px solid #f1e9da;
    color: #f1e9da;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}
.sesgoabajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 25vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent ;
}

.sesgoarriba{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 25vh 100vw 0 0  ;
    border-style: solid;
    border-color: #fff transparent transparent transparent ;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 42px 0;
    color: #2e294e;
    text-align: center;
    
}

.sobre-nosotros{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
        
}
.parrafo{
    margin-bottom: 13px;
    font-weight: 300;
    text-align: center;
    line-height: 24px;
    color: #5f799a;
}

.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.imagenes{
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encima{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5f799a(52, 73, 94, 0.815);
}

.encima h2{
    position: relative;
    top: 45%;
    text-align: center;
    color: #5f799a;
}

.encima div{
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #5f799a;
    margin: auto;
}

.equipo{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 20px 0;
    width: 30%;
    height: 250%;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 5px 0 #2e294e(52, 73, 94, 0.849);
}

.card img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.fondo{
    height: 1000px;
    position: relative;
    background-image: url(img/hombre_sosteniendo_cajas.jpg);
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-attachment: center;
    padding-top: 130px;
}

.sesgoabajo-unico{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2e294e transparent ;

}

footer{
    background: #2e294e;
    height: auto;
}
.titulo-footer, .subtitulo-footer{
    color: #fff;
    text-align: center;
    font-size: 56px;
}

.subtitulo-footer{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 64px;
}

form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
input[type="text"], input[type="email"]{
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #2e294e;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1e9da;
    margin-bottom: 16px;
    border-top: 1px solid;
}

textarea{
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200%;
    min-height: 200px;
    background: #f1e9da;
    padding: 13px;
    border: none;
    color: #2e294e;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    display: inline-block;
    padding: 13px;
    border: none;
    color: #f1e9da;
    background: #2e294e;
    width: 96px;

    display: inline-block;
    padding: 6px;
    width: 90px;
    border: 1px solid #f1e9da;
    color: #f1e9da;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.btn-enviar{
    margin: 10px 0 0;
}