@charset "UTF-8";

@font-face {
  font-family: "buscar";
  src:url("fonts/buscar.eot");
  src:url("fonts/buscar.eot?#iefix") format("embedded-opentype"),
    url("fonts/buscar.woff") format("woff"),
    url("fonts/buscar.ttf") format("truetype"),
    url("fonts/buscar.svg#buscar") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "buscar" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "buscar" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buscar:before {
  content: "\61";
}




/* POPUP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}



.container-all {
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all 600ms;
}

.container-all:target {
  background: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
}

.container-all:target .popup {
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  visibility: visible;
}

.popup {
  width: 100%;
  max-width: 800px;
  height: 500px;
  position: relative;
  display: flex;
  background: white;
  visibility: hidden;
  top: -80%;
  left: -80%;
  transform: rotate(90deg) translate(-150%, 230%);
  transition: 600ms;
}

.img {
  width: 80%;
  background-image: url(img/icon.png);
  background-size: cover;
  background-position: auto;
}



.nav-text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-text ul li a {
  color: #2e294e;

}

.container-text h1 {
  color: #2e294e;
}

.nav-text ul li a:hover {
  text-decoration: ;
}

.nav-cl {
  font-size: 30px;
  padding: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.nav-cd {
  font-size: 30px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.container-text {
  width: 60%;
  padding: 50px;
  overflow-y: auto;
}

.container-text h1 {
  font-size: 30px;
}

.container-text p {
  margin-top: 20px;
  font-size: 16px;
}

.btn-close-popup {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -20px;
  top: -20px;
  padding: 20px;
  background: black;
  color: white;
  border-radius: 50%;
  line-height: 10px;
}


/* ESTILO CSS */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/fondoHome.jpg);
  height: 100vh;
  background-size: cover;
}

/*HEADER*/
nav {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.596);
  border-bottom: 1p solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
  position: fixed;
  
  /* top: 0;
  z-index: 100; */


  /* transition: ease-in-out 0.5s; */
}

.nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
}

.nav .logo{
  height: 80px;
}

.nav .logo img{
  height: 100%;
  vertical-align: top;
}

.enlaces-header {
  font-weight: 300;
}

.enlaces-header a{
  color: #2e294e;
  text-decoration: none;
  margin-left: 20px;

}


.buscar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #2e2943;
  padding: 10px;
  height: 80px;
  border-radius: 40px;
}
.buscar-texto{
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  float: left;
  line-height: 60px;
  transition: .3s;
  width: 0;
}
.boton{
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

/*=?===========RESPONSIVE=========*/

@media screen and (min-width:480px){
  .buscar:hover > .buscar-texto{
      width: 190px;
  }
}

@media screen and (min-width:768px){
  .buscar:hover > .buscar-texto{
      width: 300px;
  }
}

@media screen and (min-width:1024px){
  .buscar:hover > .buscar-texto{
      width: 500px;
  }
}


.btn btn-primary{
  position: absolute;
  top: 50%;
}